@import "./theme.scss";
@import "./mixins.scss";

#sidebar {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 100vh;
  background-color: $backgroundLight;
}

.sidebar__header-container {
  display: flex;
  justify-content: space-between;
  @include padding;
  border-bottom: 4px solid $background;
}

.sidebar__header {
  font-size: $large;
  color: white;
}

.addChannel {
  display: flex;
  justify-content: space-between;
  @include padding;
  color: $textLight;
}

.addChannel__text {
  font-size: 17px;
}

.addChannel__add {
  &:hover {
    cursor: pointer;
    color: white;
  }
}

.channels {
  @include padding;
}

.channels__channel {
  color: $text;
  font-size: $medium;
  display: flex;

  gap: 15px;
  margin: 0px 0px 15px 0px;
}

.channels__icon {
  padding: 0px 5px 0px 0px;
  color: $text;
  font-size: 25px;
}

.channels__name {
  cursor: pointer;

  &:hover {
    color: white;
  }
}
