@import "./theme.scss";
@import "./mixins.scss";

#home {
  display: flex;
}

#sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 100vh;
  background-color: $backgroundLight;
}

#header {
  background-color: $background;
  width: 100%;
}

#chat {
}

.sidebar__header-container {
  display: flex;
  justify-content: space-between;
  @include padding;
  border-bottom: 4px solid $background;
}

.sidebar__header {
  font-size: $large;
  color: white;
}

.addChannel {
  display: flex;
  justify-content: space-between;
  @include padding;
  color: $textLight;
}

.addChannel__text {
  font-size: 17px;
}

.addChannel__add {
  &:hover {
    cursor: pointer;
    color: white;
  }
}

.channels {
  @include padding;
}

.channels__channel {
  color: $text;
  font-size: $medium;
  display: flex;

  gap: 15px;
  margin: 0px 0px 15px 0px;
}

.channels__icon {
  padding: 0px 5px 0px 0px;
  color: $text;
  font-size: 25px;
}

.channels__name {
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.user__container {
  position: absolute;
  width: 100%;
  bottom: 0;
  @include padding;
  background-color: $background;
}

.user__container-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user__image {
  width: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 5px $backgroundLight;
  transition: 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.user__container-col {
  @include flexCenterVertical;
}

.user__name {
  color: $textLight;
}

.user__id {
  color: $text;
}

.logout__container {
  @include flexCenterVertical;
  transition: 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.1);
  }
}

.logout__icon {
  transform: rotate(-180deg);
  color: $text;
}

.logout__text {
  color: $text;
  font-size: 14px;
}

.header {
}
