@import "./mixins.scss";
@import "./theme.scss";

#login {
  height: 97vh;
  width: 97vw;
  @include flexCenter;
  overflow: none;
}

.login-btn {
  background-color: $backgroundLight !important;
  width: 250px !important;
  height: 40px !important;
}
