@import "../sass/theme.scss";

// Layout
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin padding {
  padding: 15px;
}

@mixin paddingChat {
  padding: 50px;
}

@mixin paddingContainer {
  padding: 30px 15px 30px 15px;
}

// Font
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@mixin Loadfont {
  font-family: "Poppins", sans-serif;
}
